* {
  font-family: monospace;
}

body {
  background-color: rgb(51, 41, 41);
  color: rgb(255, 187, 187);
}

h2 {
  font-size: 3vh;
  margin: 2px;
}

/* hide arrows on input fields */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#canvas {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas canvas {
  max-width: 50vw;
  max-height: 45vh;

  border-style: double;
  border-width: 10px;
  border-radius: 10px;
  border-color: rgb(255, 147, 147);
}

.loading { 
  text-align: center;
}

.info {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: column;

  text-align: center;
  width: 100%;
}

.info h3 {
  margin: 4px;
}

.bio {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);

  text-align: center;
  width: 100%;
}

.bio a {
  color:rgb(255, 147, 147);
}

.master-container {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: rgb(37, 29, 29);

  padding: 12px;
  border-style:double;
  border-radius: 20px;
  border-color: rgb(255, 147, 147);

  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin: 6px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 6.3vh;
}

.button-container .input-container {
  margin: auto 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container input {
  padding: 2px;

  width: 8vw;

  font-size: 2.5vh;
  text-align: center;

  border-radius: 20px;

  background-color: rgb(255, 187, 187);
  color: rgb(51, 41, 41);
}

.button-container label {
  margin: 2px 0px;
  padding: 0px;

  font-size: 2.5vh;

  color: rgb(255, 187, 187);
}

.button-container button {
  margin: auto 0.6vw;
  padding: 10px;

  width: auto;

  font-size: 2vw;
  text-align: center;

  border-radius: 20px;

  background-color: rgb(255, 187, 187);
  color: rgb(51, 41, 41);
}

/* reactive elements when flipping phone / in widescreen */
@media screen and (max-height: 520px) {
  .title {
    top: 17%;
  }

  #canvas {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .master-container {
    flex-direction: row;
    align-items: unset;
    justify-content: center;
  }

  .button-container {
    margin: 4px 6px;
  }

  .info {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .button-container button {
    font-size: 3vw;
  }
}